<h1>Questions#answer</h1>
<div>
  <p> <%= @question %> </p>
  <p> <i>-You</i></p>
</div>
<div>
  <p> <%= @answer %></p>
  <p> <i>-Your coach</i></p>
</div>
<%= link_to "Ask a new question", ask_path %>
